@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-FFD400 {
    background-color: #ffd400;
}

.border-F1F1F3 {
    border-color: #f1f1f3;
}

.cart-button {
    width: 54px;
    height: 54px;
}

.navbar {
    padding: 20px 162px;
    border-color: #f1f1f3;
}

.button-yellow {
    transition: background-color 0.3s ease;
}

.button-yellow:hover {
    background-color: #f1f1f3;
}
