@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-FFD400 {
    background-color: #ffd400;
}
.border-F1F1F3 {
    border-color: #f1f1f3;
}
.bg-F1F1F3 {
    background-color: #f1f1f3;
}
.bg-F7F7F8 {
    background-color: #f7f7f8;
}
.bg-FCFCFD {
    background-color: #fcfcfd;
}
.border-F7F7F8 {
    border-color: #f7f7f8;
}
.text-98989A {
    color: #98989a;
}
.text-656567 {
    color: #656567;
}
.text-1A1A1A {
    color: #1a1a1a;
}
.text-4C4C4D {
    color: #4c4c4d;
}
.text-E4E4E7 {
    color: #e4e4e7;
}
.text-333333 {
    color: #333333;
}
.text-262626 {
    color: #262626;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.navbar {
    padding: 20px 162px;
    border-color: #f1f1f3;
}
.cart-button {
    width: 54px;
    height: 54px;
}

.cart-item-button {
    width: 62px;
    height: 62px;
}

.button-defult {
    transition: background-color 0.3s ease;
}
.button-defult:hover {
    background-color: #f1f1f3;
}

.button-change-item {
    height: 100%;
    width: initial;
    transition: background-color 0.3s ease;
    #styled-element {
        stroke: #656567;
        transition: stroke 0.3s ease;
    }
}

.button-change-item:hover {
    background-color: #262626;
    #styled-element {
        stroke: white;
    }
}

.button-main-page {
    width: 183px;
    height: 63px;
}
.home-page-main {
    padding-top: 195px;
}
.home-page-main-image-area {
    width: auto;
    height: 100%;
}
.home-page-main-contener {
    height: 346px;
    width: 100%;
}

.home-page-main-p-head {
    font-size: 30px;
}

.home-page-main-p-text {
    font-size: 18;
    font-widht: 400;
    color: #656567;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 19px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-item {
    outline: 2px solid rgba(0, 0, 0, 0.205);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.row-item:hover {
    outline: 2px solid rgba(0, 0, 0, 0.6);
}

.trending {
    height: 100vh;
}

.item-header img {
    width: 21rem;
}

.item-description {
    font-size: 1.7rem;
    padding: 1rem;
}

.trending h3 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
}

.row-container {
    display: flex;
    gap: 2.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
    padding: 1rem 0.6rem;
}

.row-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.title-btns {
    display: flex;
    justify-content: space-between;
}

.arrow-left:hover {
    rect {
        stroke: none;
    }
    path {
        stroke: white;
    }
    fill: black;
}

.arrow-right:hover {
    rect {
        stroke: none;
    }
    path {
        stroke: white;
    }
    fill: black;
}

.btns button:hover {
    background-color: black;
}
.item-price {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 1.4rem;
}
.link {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.snap-x {
    scroll-behavior: smooth;
}

#slider {
    scrollbar-width: none;
}

input {
    font-size: 18px;
    color: #656567;
    padding: 20px 16px;
    border: 1px solid #f1f1f3;
    -webkit-transition: 0.2s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 1px solid #98989a;
}
